//	Typography
//  =========

//	Headings

//  Font Sizes

//	Links

//	Paragraphs

//	Decoration
//		Italic
//		Bold

//	Lists
//		ul
//		ol
//		nested
//		dl





//------------------------------------//
//	Headings
//------------------------------------//

//	H1-H6

//	Hat Tip:
//	http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css



h1, h2, h3, h4, h5, h6 {
	@include font-size($font-size);

	font-family: $heading-font-family;
	font-weight: $font-weight-bold;
	margin: 0;
}





//------------------------------------//
//  Font Sizes
//------------------------------------//

@mixin font-size-xxl($weight: 200) {
	@include font-size(35);

	font-weight: $weight;
	line-height: 1.1;

	@include mq($bp-tablet) { @include font-size(55); }
	@include mq($bp-desktop){ @include font-size(100);}
}

@mixin font-size-xl($weight: 200) {
	@include font-size(22);

	font-weight: $weight;
	line-height: 1.3;

	@include mq($bp-mobile)		{ @include font-size(30); line-height: 1.2; }
	@include mq($bp-tablet)		{ @include font-size(40); line-height: 1.1; }
}

@mixin font-size-l($weight: 200) {
	@include font-size(20);

	font-weight: $weight;

	@include mq($bp-mobile)		{ @include font-size(20); }
	@include mq($bp-tablet)		{ @include font-size(24); }
	@include mq($bp-desktop)	{ @include font-size(26); }
}

@mixin font-size-m($weight: 200) {
	@include font-size(16);

	line-height: 1.5;
	font-weight: $weight;

	@include mq($bp-tablet)		{ @include font-size(18); }
	@include mq($bp-desktop)	{ @include font-size(20); }
}

@mixin font-size-s($weight: 200) {
	@include font-size(14);

	line-height: 1.5;
	font-weight: $weight;

	@include mq($bp-tablet)		{ @include font-size(16); }
}

@mixin font-size-xs($weight: 200) {
	@include font-size(12);

	line-height: 1.5;
	font-weight: $weight;

	@include mq($bp-tablet)		{ @include font-size(14); }
}

.t-xxl 	{ @include font-size-xxl(); }
.t-xl 	{ @include font-size-xl(); }
.t-l 		{ @include font-size-l(); }
.t-m 		{ @include font-size-m(); }
.t-s 		{ @include font-size-s(); }
.t-xs 	{ @include font-size-xs(); }

.t-sub-head {
	margin-bottom: 20px;
	font-weight: $font-weight;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.t-alt-font {
	font-family: StolzlDisplay-Medium; 
	font-weight: normal; 
	font-style: normal;
}





//------------------------------------//
//  Links
//------------------------------------//

a {
	color: $color-link;
	cursor: pointer;
	text-decoration: none;
}

	p a {
		text-decoration: none;
		border-bottom: solid 2px white;
		color: $color-link;

		&:hover {
			border-bottom: solid 2px $color-yellow;
		}
	}





//------------------------------------//
//  Paragraphs
//------------------------------------//

p {
	@include font-size($font-size);
	line-height: $line-height;
}





//------------------------------------//
//  Decoration
//------------------------------------//

//
//	Italic
//

i, em {
	font-style: italic;
}



//
//	Bold
//

strong, b {
	font-weight: $font-weight-bold;
}





//------------------------------------//
//  Lists
//------------------------------------//

ul, 
ol {
	line-height: $line-height;
}



//
//	Ul
//

ul {
	list-style: disc;
}



//
//	Ol
//

ol {
	list-style: decimal;
}



//
//	Nested
//

ul,
ol {
	ol, 
	ul {
		margin-bottom: 0;
	}
}