
	<perch:related id="partners" collection="Sponsors" label="Partners">
		<perch:before>
			<div class="p-footer__partners">
				<div class="b-container">
					<h3 class="t-s p-section__title is-purple is-center">Dot York Partners</h3>
					<ul class="b-nav">
		</perch:before>

		<li>
			<a href="<perch:content id="url" />" target="_blank">
			<img src="<perch:content id="image" type="image" />" alt="<perch:content id="title" />" class="logo--<perch:content id="type" type="select" options="landscape, portrait, square, circle" label="Orientation" />" />
		</a>
		</li>

		<perch:after>
					</ul>
				</div>
			</div>
		</perch:after>
	</perch:related>

		