
	<perch:related id="partners" collection="Sponsors" label="Partners">
		<perch:before>
			<div class="p-footer__partners">
				<div class="b-container">
					<h3 class="t-s p-section__title is-purple is-center">Dot York Partners</h3>
					<ul class="b-nav">
		</perch:before>

		<li>
			<a href="<perch:content id="url" />" target="_blank">
				<img src="/assets/img/1x1.png" alt="<perch:content id="image_alt" />" class="p-grid-item__image js-lazy" data-src="<perch:content id="image" type="image" />" />
			</a>
		</li>

		<perch:after>
					</ul>
				</div>
			</div>
		</perch:after>
	</perch:related>

		