<perch:content id="first_name" label="First Name" type="text" title="true" />
<perch:content id="last_name" label="Surname" type="text" title="true" />
<perch:content id="slug" type="slug" for="first_name last_name" />

<perch:content id="photo" type="image" label="Photo" />
<perch:content id="photo" type="image" label="Photo" width="200" height="200" crop="true" density="1.5" />

<perch:content id="about" type="textarea" markdown="true" editor="simplemde" label="About" divider-before="Speaker Details" size="s" />

<perch:content id="job_title" type="text" label="Job Title" />

<perch:content id="url" type="text" label="Website URL" help="e.g. name.com" />
<perch:content id="twitter" type="text" label="Twitter Username" help="e.g. dotyork" />
<perch:content id="linkedin" type="text" label="LinkedIn Username" help="e.g. name" />
<perch:content id="discount_code" type="text" label="Discount Code" />

<perch:related id="event" collection="Events" label="Event" size="m">
	<perch:content id="slug" type="slug" />
	<perch:content id="date" type="date" />
</perch:related>

<perch:content id="social_image" type="image" label="Social Image" />

<perch:content id="secret" label="Is Secret?" divider-before="Meta" type="checkbox" value="true" />
<perch:content id="clue" label="Clue" type="text" help="Appears under ? image before speakers are announced" />