//  Quotes
//  ==========



//  Inline
//  Blockquotes
//		p
//		cite





//------------------------------------//
//  Config
//------------------------------------//

$use-quotes		: true!default;

$open-quote 	: "\201C"; 							
$close-quote 	: "\201D"; 





//------------------------------------//
//  Code
//------------------------------------//

@if $use-quotes == true{

	//------------------------------------//
	//  Inline Quotes
	//------------------------------------//

	q {
		&:before {
			content: $open-quote;
		}

		&:after {
			content: $close-quote;
		}
	}





	//------------------------------------//
	//  Blockquote
	//------------------------------------//

	blockquote {
	    quotes:"#{$open-quote}" "#{$close-quote}";
	    margin-bottom: $gutter*2;
	    margin-left: 20px;
	}



	//
	//	P
	//

	blockquote p {
		margin: 0;

		font-size: 22px !important;

		&:before 				{ content:"#{$open-quote}"; }
	    &:after 				{ content:""; }
	    &:last-of-type:after 	{ content:"#{$close-quote}"; }

	    &:last-of-type {
	    	margin-bottom: 0 !important;
	    }
	}



	//
	//	Cite
	//

	cite {
		display: block;
		margin-top: $gutter/4;

	    &:before {
		    content: "\2014 \2009";
	    }
	}

}