//------------------------------------//
//  Colours
//------------------------------------//

//
//	2017 Branding
//

// $color-blue 		: 	#10ace1;
// $color-green 		: 	#07a789;
// $color-yellow 		: #ffed00;
// $color-purple 		: #51328a;
// $color-light 		: 	#cce9f4;
// $color-dark 		: 	#1d1d1b;

//
//  2018 branding
//

$color-blue 		: 	#3DD9FC;
$color-green 		: 	#0C9D5E;
$color-yellow 	:   #FFED00;
$color-purple 	:   #894FFF;
$color-light 		: 	#cce9f4;
$color-dark 		: 	#21174C;

//  
//  Site setup
//

$color-body 		:   #fff;
$color-text 		:   $color-dark;

$color-link 		: 	$color-blue;
$color-neutral 	: 	$color-light;

$color-positive :   $color-green;