//------------------------------------//
//  Colours
//------------------------------------//

$color-body 		: 	#fff;
$color-text 		: 	#6c6e71;
$color-secondary-text : #bfc5c7;

$color-theme 		: 	#7d99d8;

$color-neutral 		: 	#E6E8ED;
$color-dark 		: 	#1d1d1b;

$color-positive 	: 	#77c181;

$color-link 		: 	$color-theme;


//	2017 Branding

$color-blue 		: 	#10ace1;
$color-green 		: 	#07a789;
$color-yellow 		: 	#ffed00;
$color-purple 		: 	#51328a;
$color-light 		: 	#cce9f4;