/**
 * dotyork
 * Copyright 2017 Rick Chadwick
 * @author rickary <rick@rickchadwick.co.uk>
 */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

header:after,
footer:after,
main:after,
div:after,
section:after,
article:after,
nav:after,
dl:after,
ul:after,
ol:after,
aside:after,
blockquote:after {
  content: "";
  display: table;
  clear: both; }

img, .u-img {
  max-width: 100%;
  width: 100%; }

.u-hide-text {
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

html {
  font-size: 100%; }

body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  background: #fff;
  color: #6c6e71;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem; }

.t-xxxl {
  font-size: 32px;
  font-size: 2rem;
  line-height: 0.8; }
  @media screen and (min-width: 480px) {
    .t-xxxl {
      font-size: 50px;
      font-size: 3.125rem; } }
  @media screen and (min-width: 768px) {
    .t-xxxl {
      font-size: 80px;
      font-size: 5rem; } }
  @media screen and (min-width: 900px) {
    .t-xxxl {
      font-size: 100px;
      font-size: 6.25rem; } }

.t-xxl {
  font-size: 100px;
  font-size: 6.25rem;
  line-height: 1.1; }
  @media screen and (max-width: 767px) {
    .t-xxl {
      font-size: 55px;
      font-size: 3.4375rem; } }
  @media screen and (max-width: 599px) {
    .t-xxl {
      font-size: 35px;
      font-size: 2.1875rem; } }

.t-xl {
  font-size: 70px;
  font-size: 4.375rem;
  line-height: 1.1; }
  @media screen and (max-width: 1023px) {
    .t-xl {
      font-size: 40px;
      font-size: 2.5rem; } }
  @media screen and (max-width: 767px) {
    .t-xl {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media screen and (max-width: 599px) {
    .t-xl {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 1.3; } }

.t-lr {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.1; }
  @media screen and (max-width: 1023px) {
    .t-lr {
      font-size: 34px;
      font-size: 2.125rem; } }
  @media screen and (max-width: 767px) {
    .t-lr {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media screen and (max-width: 599px) {
    .t-lr {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.3; } }

.t-l {
  font-size: 26px;
  font-size: 1.625rem; }
  @media screen and (max-width: 1023px) {
    .t-l {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media screen and (max-width: 767px) {
    .t-l {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.3; } }
  @media screen and (max-width: 599px) {
    .t-l {
      font-size: 18px;
      font-size: 1.125rem; } }

.t-m {
  font-size: 16px;
  font-size: 1rem; }

.t-s {
  font-size: 14px;
  font-size: 0.875rem; }

.t-xs {
  font-size: 12px;
  font-size: 0.75rem; }

.t-sub-head {
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase; }

.t-weight-bold {
  font-weight: 700; }

.t-alt-font {
  font-family: "bebas-kai", sans-serif; }

a {
  color: #7d99d8;
  cursor: pointer;
  text-decoration: none; }

p a {
  text-decoration: none;
  border-bottom: solid 2px white;
  color: #10ace1; }
  p a:hover {
    border-bottom: solid 2px #ffed00; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: 700; }

ul,
ol {
  line-height: 1.5; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0; }

select, textarea, input {
  font-family: "nimbus-sans", sans-serif;
  font-size: 16px;
  font-size: 1rem; }

.b-container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

.b-container--smaller {
  width: 100%;
  max-width: 1023px; }

.b-container--small {
  width: 100%;
  max-width: 767px; }

.b-main {
  display: inline;
  float: left;
  width: 57.83133%;
  margin-left: 1.20482%;
  margin-left: 0; }
  .b-main:first-child {
    margin-left: 0; }
  @media screen and (max-width: 767px) {
    .b-main {
      width: 100%;
      float: none;
      display: block; } }

.b-aside {
  display: inline;
  float: left;
  width: 40.96386%;
  margin-left: 1.20482%;
  float: right; }
  .b-aside:first-child {
    margin-left: 0; }
  @media screen and (max-width: 767px) {
    .b-aside {
      display: block;
      width: 100%;
      float: none;
      margin-top: 40px;
      margin-left: 0;
      clear: both; } }

.b-half {
  display: inline;
  float: left;
  width: 50%; }
  @media screen and (max-width: 767px) {
    .b-half {
      width: 100%;
      clear: left;
      margin-left: 0; } }

.b-half__inner {
  max-width: 400px;
  margin: 100px auto;
  padding: 0 20px; }
  @media screen and (max-width: 1023px) {
    .b-half__inner {
      margin: 60px auto; } }

.b-media {
  display: block; }

.b-media__img,
.b-media__object {
  float: left;
  margin-right: 20px; }

.b-media__img--rev,
.b-media__object--rev {
  float: right;
  margin-left: 20px; }

.b-media__img img,
.b-media__img--rev img {
  display: block; }

.b-media__body {
  overflow: hidden; }

.b-media__body,
.b-media__body > :last-child {
  margin-bottom: 0; }

.b-btn {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  height: 50px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 13px;
  border-radius: 25px;
  padding: 0 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .b-btn, .b-btn:hover {
    text-decoration: none; }
  .b-btn:active, .b-btn:focus, .b-btn:visited {
    outline: none; }
  @media screen and (max-width: 599px) {
    .b-btn {
      padding: 0 20px; } }

.b-btn--theme {
  border: solid 2px #ffed00;
  background: #ffed00;
  color: #1d1d1b; }
  .b-btn--theme:hover {
    border-color: #10ace1;
    background: #10ace1;
    color: white; }

.b-btn--positive {
  border: solid 1px #07a789;
  background: #07a789;
  color: white; }
  .b-btn--positive:hover {
    background: #09d8b1; }

.b-btn--disabled {
  border: solid 1px #E6E8ED;
  background: #E6E8ED;
  color: #6c6e71; }
  .b-btn--disabled:hover {
    background: white; }

.b-btn--border {
  border: solid 1px #E6E8ED;
  background: white;
  color: #6c6e71; }
  .b-btn--border:hover {
    border-color: #6c6e71;
    color: #7d99d8; }

.b-btn--margin {
  margin-top: 30px; }

.b-btn--large {
  height: 50px;
  line-height: 48px;
  padding: 0 60px;
  font-size: 18px; }

.b-btn--small {
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  font-size: 11px; }

.b-embed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 30px; }

.b-embed iframe,
.b-embed object,
.b-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.b-embed--video {
  max-width: 100% !important;
  height: auto !important;
  padding-bottom: 56.25%; }

.b-embed--instagram {
  padding-bottom: 120%; }

.b-embed--maps {
  max-width: 100% !important;
  height: auto !important;
  padding-bottom: 56.25%; }

.b-nav {
  list-style: none;
  margin-left: 0; }
  .b-nav > li {
    display: inline; }
    .b-nav > li,
    .b-nav > li > a {
      display: inline-block;
      *display: inline;
      zoom: 1; }

.b-nav--banner {
  text-align: center; }

.b-nav--stacked > li {
  display: list-item; }
  .b-nav--stacked > li > a {
    display: block; }

q:before {
  content: "“"; }

q:after {
  content: "”"; }

blockquote {
  quotes: "“" "”";
  margin-bottom: 40px;
  margin-left: 20px; }

blockquote p {
  margin: 0;
  font-size: 22px !important; }
  blockquote p:before {
    content: "“"; }
  blockquote p:after {
    content: ""; }
  blockquote p:last-of-type:after {
    content: "”"; }
  blockquote p:last-of-type {
    margin-bottom: 0 !important; }

cite {
  display: block;
  margin-top: 5px; }
  cite:before {
    content: "\2014 \2009"; }

.b-form-fields {
  list-style: none;
  margin: 0; }

.b-form-fields > li {
  margin: 0; }
  .b-form-fields > li:last-child {
    margin-bottom: 0; }

input {
  border-radius: 0;
  -webkit-appearance: none;
  height: 60px;
  vertical-align: top;
  border: none; }

.p-header {
  left: 0;
  height: 100px;
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  .p-header, .p-header a {
    color: white; }
  .p-header.is-yellow, .p-header.is-yellow a {
    color: black; }
  .p-header.is-purple {
    background: #51328a; }

body.blog .p-header {
  background: #51328a; }

.p-logo {
  display: block;
  float: left;
  width: 205px;
  height: 40px;
  margin: 0 auto;
  text-indent: -999em;
  background: url("/assets/img/logo.svg?v=2") no-repeat;
  background-size: 100%;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1; }
  @media screen and (max-width: 767px) {
    .p-logo {
      width: 158px;
      height: 30px; } }
  @media screen and (max-width: 599px) {
    .p-logo {
      width: 27px;
      height: 30px;
      background: url("/assets/img/mark.svg?v=2") no-repeat;
      background-size: 100%; } }
  .is-landing .p-logo {
    float: none;
    margin: 0 auto; }

.p-header.is-yellow .p-logo {
  background-image: url("/assets/img/logo--black.svg"); }
  @media screen and (max-width: 599px) {
    .p-header.is-yellow .p-logo {
      background-image: url("/assets/img/mark--black.svg"); } }

.p-footer {
  padding: 40px 20px;
  text-align: center;
  background: #ffed00;
  color: black; }
  .p-footer a {
    color: black;
    border-color: #ffed00; }

.p-footer__social {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .p-footer__social {
      float: right;
      margin: 0; } }
  .p-footer__social .p-social-item svg:hover {
    fill: #10ace1; }

.p-footer__copy {
  margin-top: 10px; }
  @media screen and (max-width: 500px) {
    .p-footer__copy span {
      display: block; } }
  @media screen and (min-width: 768px) {
    .p-footer__copy {
      text-align: left; } }

.p-footer__partners li {
  margin: 0 15px;
  vertical-align: middle; }

.p-footer__partners img {
  width: 150px; }
  @media screen and (min-width: 767px) {
    .p-footer__partners img {
      width: 180px; } }

.p-footer-nav ul {
  margin-bottom: 20px; }

.p-footer-nav li:first-child {
  font-weight: 700; }

@media screen and (min-width: 480px) {
  .p-footer-nav ul {
    margin-bottom: 0; }
  .p-footer-nav li {
    display: inline-block; }
    .p-footer-nav li:after {
      display: inline;
      content: ' |'; }
    .p-footer-nav li:first-child:after {
      content: ' - '; }
    .p-footer-nav li:last-child:after {
      display: none; } }

@media screen and (min-width: 768px) {
  .p-footer-nav {
    float: left;
    text-align: left; } }

.p-footer-nav__title {
  font-weight: 700; }

.p-footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .p-footer-nav__list li.is-active a {
    border-bottom: solid 1px black; }
  .p-footer-nav__list a:hover {
    border-bottom: solid 1px black; }

.p-section {
  padding: 150px 0; }
  @media screen and (max-width: 767px) {
    .p-section {
      padding: 60px 0; } }
  .p-section.is-blue {
    background: #10ace1 url("/assets/img/bg.png") bottom center no-repeat;
    color: white;
    background-size: 900px; }
  .p-section.is-purple {
    background: #51328a url("/assets/img/bg.png") top center no-repeat;
    color: white;
    background-size: 900px; }
  .p-section.is-green {
    background: #07a789 url("/assets/img/bg.png") center center no-repeat;
    color: white;
    background-size: 900px; }
  .p-section.is-top-section {
    margin-top: 50px; }

.p-section__title {
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .p-section__title.has-top-margin {
    margin-top: 50px; }
  .p-section__title.has-bottom-margin {
    margin-bottom: 50px; }
  .p-section__title.is-yellow {
    color: #ffed00; }
  .p-section__title.is-white {
    color: white; }
  .p-section__title.is-purple {
    color: #51328a; }
  .p-section__title.is-center {
    text-align: center; }
    .p-section__title.is-center:after {
      display: block;
      content: " ";
      border-radius: 100%;
      width: 5px;
      height: 5px;
      background: #ffed00;
      margin: 20px auto 30px auto; }
  .p-section__title a {
    color: inherit; }
    .p-section__title a:hover {
      border-bottom: solid 2px #ffed00; }

a.p-section__title__all {
  display: block;
  font-size: 10px;
  margin-top: 5px; }
  a.p-section__title__all:before {
    display: inline;
    content: '['; }
  a.p-section__title__all:after {
    display: inline;
    content: ']'; }
  a.p-section__title__all:hover {
    border: none; }

.p-page__header {
  padding: 200px 20px 150px 20px;
  background: #51328a url("/assets/img/bg.png") no-repeat;
  text-align: center;
  color: white; }
  .p-page__header h1 {
    margin-bottom: 20px; }
  .p-page__header p {
    color: white; }
  @media screen and (max-width: 767px) {
    .p-page__header {
      padding: 150px 20px 100px 20px; } }
  @media screen and (max-width: 500px) {
    .p-page__header {
      padding: 100px 20px 50px 20px; } }

.p-article__meta a {
  border-bottom: solid 2px #51328a; }
  .p-article__meta a:hover {
    color: white;
    border-bottom: solid 2px #ffed00; }

.p-page.has-margin {
  margin: 50px 0; }

.p-page img {
  margin-bottom: 20px; }

.p-page p, .p-page ul, .p-page ol {
  color: #1d1d1b;
  margin-bottom: 30px; }
  .p-page p:last-child, .p-page ul:last-child, .p-page ol:last-child {
    margin-bottom: 0; }
  .p-page p a, .p-page ul a, .p-page ol a {
    color: #10ace1; }

.p-page ul, .p-page ol {
  margin-left: 30px; }
  .p-page ul li, .p-page ol li {
    margin-bottom: .5em; }

.p-page h2 {
  margin: 10px 0 20px 0;
  font-size: 24px;
  color: #51328a; }

.p-page h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #51328a; }

.p-page .b-btn {
  margin-bottom: 20px; }
  .p-page .b-btn.b-btn--large {
    margin-bottom: 50px; }

.p-page__footnote {
  margin-bottom: 30px;
  padding: 10px;
  background: #E6E8ED; }
  .p-page__footnote p {
    font-size: 14px;
    font-style: italic; }
    .p-page__footnote p a {
      border-color: #E6E8ED; }
      .p-page__footnote p a:hover {
        border-color: #ffed00; }

.p-page__faq {
  margin-left: 0 !important; }
  .p-page__faq li {
    margin-bottom: 20px !important; }
  .p-page__faq p {
    font-style: italic; }

.p-page__newsletter {
  background: #7d99d8;
  color: white;
  padding: 20px;
  margin-bottom: 20px; }
  .p-page__newsletter input {
    margin-bottom: 5px;
    height: 40px;
    line-height: 38px;
    border: solid 1px #7d99d8;
    vertical-align: top;
    padding: 0 10px; }
  .p-page__newsletter .b-btn {
    margin-bottom: 0; }
    @media screen and (max-width: 900px) {
      .p-page__newsletter .b-btn {
        width: 100%; } }
  .p-page__newsletter input[type="email"] {
    width: calc(100% - 150px); }
    @media screen and (max-width: 900px) {
      .p-page__newsletter input[type="email"] {
        width: 100%; } }
  .p-page__newsletter p {
    color: #E6E8ED;
    font-size: 14px; }

.p-page__read-more {
  display: block;
  width: 35px;
  height: 15px;
  background: url("/assets/img/arrow.png") no-repeat 0 0;
  background-size: 100%;
  text-indent: -999em; }
  .p-page__read-more.is-yellow {
    background-position: 0 -15px; }
  .p-page__read-more.is-purple {
    background-position: 0 -30px; }
  .p-page__read-more.is-green {
    background-position: 0 -45px; }

.p-page__list-item {
  padding: 100px 20px;
  text-align: center;
  color: white; }
  .p-page__list-item:nth-child(4n+1) {
    background: #10ace1 url("/assets/img/bg.png") bottom center no-repeat;
    color: white; }
  .p-page__list-item:nth-child(4n+2) {
    background: #07a789 url("/assets/img/bg.png") top center no-repeat;
    color: white; }
  .p-page__list-item:nth-child(4n+3) {
    background: #51328a url("/assets/img/bg.png") center center no-repeat;
    color: white; }
  .p-page__list-item:nth-child(4n+4) {
    background: #ffed00 url("/assets/img/bg.png") bottom left no-repeat;
    color: #1d1d1b; }
  @media screen and (max-width: 767px) {
    .p-page__list-item {
      padding: 60px 20px; } }

.p-page__list-item__title {
  margin-bottom: 20px; }

.p-page__list-item__meta {
  margin-bottom: 20px; }

.p-page__list-item__btn {
  margin-top: 20px; }

.p-grid {
  list-style: none; }
  @media screen and (min-width: 450px) {
    .p-grid {
      display: grid;
      grid-template-columns: repeat(2, 49%);
      grid-gap: 2%; } }
  @media screen and (min-width: 800px) {
    .p-grid {
      grid-template-columns: repeat(4, 23.5%);
      grid-gap: 2%; } }

.p-grid-item a {
  display: block; }

.p-grid-item__image {
  margin-bottom: 20px; }

.p-grid-item__title {
  display: block;
  font-weight: 400; }

body.blog .p-grid {
  margin: 50px 0; }
  body.blog .p-grid .p-grid-item {
    margin-bottom: 100px; }

@media screen and (max-width: 799px) {
  .p-grid--blog .p-grid-item {
    margin-bottom: 30px; } }

.p-grid--blog .p-grid-item__title {
  display: inline-block;
  margin-bottom: 1em;
  color: #51328a;
  border-bottom: solid 2px transparent; }

.p-grid--blog .p-grid-item__desc {
  margin-bottom: 20px;
  color: #6c6e71; }

.p-grid--blog a:hover .p-grid-item__title {
  border-color: #07a789; }

.p-grid--blog a:hover .p-grid-item__read-more {
  background-position: 0 -45px; }

.p-grid--videos .p-grid-item__title {
  display: inline-block;
  margin-bottom: .25em;
  color: #07a789;
  border-bottom: solid 2px transparent; }

.p-grid--videos .p-grid-item__desc {
  display: block;
  margin-bottom: 20px;
  color: #6c6e71; }

.p-grid--videos a:hover .p-grid-item__title {
  border-color: #51328a;
  color: #51328a; }

.p-grid--videos a:hover .p-grid-item__read-more {
  background-position: 0 -30px; }

.p-grid--videos .p-grid-item {
  margin-top: 50px; }

.p-grid--speakers {
  margin: 50px 0;
  text-align: center; }
  .p-grid--speakers .p-grid-item {
    margin-top: 50px;
    vertical-align: top; }
    @media screen and (min-width: 600px) {
      .p-grid--speakers .p-grid-item {
        padding: 10px; } }
    @media screen and (min-width: 900px) {
      .p-grid--speakers .p-grid-item {
        padding: 20px; } }
  .p-grid--speakers .p-grid-item__image {
    vertical-align: middle;
    max-width: 200px;
    height: auto;
    border-radius: 100%;
    opacity: 0.7;
    filter: saturate(0%);
    border: solid 3px transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .p-grid--speakers .has-talk .p-grid-item__title {
    color: #ffed00; }
  .p-grid--speakers .has-talk .p-grid-item__desc {
    display: block;
    color: white; }
  .p-grid--speakers .no-talk .p-grid-item__title {
    color: white; }
  .p-grid--speakers .p-grid-item:hover .p-grid-item__image {
    border-color: #ffed00;
    filter: saturate(100%);
    opacity: 1; }
  .p-grid--speakers .p-grid-item:hover.no-talk .p-grid-item__title {
    color: #ffed00; }

.p-newsletter {
  text-align: center; }

.p-newsletter__title {
  margin-bottom: 25px; }

.p-newsletter__form__label {
  display: none; }

.p-newsletter__form-field__email {
  width: 380px;
  padding: 0 30px;
  border-radius: 30px 0 0 30px;
  font-family: "bebas-kai", sans-serif; }
  @media screen and (max-width: 650px) {
    .p-newsletter__form-field__email {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 30px;
      text-align: center; } }

.p-newsletter__form-field__btn {
  height: 60px;
  margin-left: -5px;
  border-radius: 0 30px 30px 0; }
  @media screen and (max-width: 650px) {
    .p-newsletter__form-field__btn {
      width: 100%;
      margin-left: 0;
      border-radius: 30px; } }

.p-newsletter__form__hint {
  margin-top: 25px; }

.p-newsletter--footer {
  padding: 60px 20px;
  background: #07a789;
  color: white; }

.p-newsletter--hero {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.4);
  color: black; }

.p-nav {
  float: right; }

.p-nav-item {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  line-height: 40px;
  margin-right: 30px; }
  .p-nav-item.is-current a {
    border-bottom: solid 2px #ffed00; }

.p-nav-item a {
  display: block;
  line-height: 30px; }
  .p-nav-item a:hover {
    color: #ffed00;
    border-bottom: solid 2px white; }

.p-header.is-yellow .p-nav li.is-current a,
.p-header.is-yellow .p-nav a:hover {
  border-bottom: solid 2px black;
  color: black; }

.p-nav-item--ticket {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 0;
  text-transform: uppercase; }
  .p-nav-item--ticket a {
    background: #07a789;
    border: none !important;
    border-radius: 20px;
    color: white;
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    transition: all 0.1s ease-in-out; }
    .p-nav-item--ticket a:hover {
      background: #ffed00;
      color: black; }

.p-header.is-green .p-nav-item--ticket a {
  background: #51328a;
  color: white; }
  .p-header.is-green .p-nav-item--ticket a:hover {
    background: #ffed00;
    color: black; }

.p-header.is-yellow .p-nav-item--ticket a {
  background: #07a789;
  color: white; }
  .p-header.is-yellow .p-nav-item--ticket a:hover {
    background: white;
    color: black;
    border: none; }

.p-banner {
  align-items: center;
  display: flex;
  padding: 220px 0 120px 0;
  text-align: center; }
  .p-banner, .p-banner a {
    color: white; }
  .p-banner.is-blue {
    background: #10ace1; }
  .p-banner.is-purple {
    background: #51328a; }
  .p-banner.is-green {
    background: #07a789; }
  .p-banner.is-yellow {
    background: #ffed00; }
    .p-banner.is-yellow, .p-banner.is-yellow a {
      color: black; }

@media screen and (min-width: 480px) {
  .p-banner--full {
    height: 100vh; } }

.p-banner__title {
  font-family: "bebas-kai", sans-serif;
  margin: 0 auto;
  max-width: 280px; }
  @media screen and (min-width: 480px) {
    .p-banner__title {
      max-width: 450px; } }
  @media screen and (min-width: 768px) {
    .p-banner__title {
      max-width: 730px; } }
  @media screen and (min-width: 900px) {
    .p-banner__title {
      max-width: 900px; } }

.p-banner__subtitle {
  font-size: 16px;
  font-size: 1rem;
  color: #ffed00;
  margin-top: 20px; }
  .is-yellow .p-banner__subtitle {
    color: black; }
  @media screen and (min-width: 480px) {
    .p-banner__subtitle {
      margin-top: 40px; } }
  @media screen and (min-width: 768px) {
    .p-banner__subtitle {
      font-size: 20px;
      font-size: 1.25rem; } }

.p-interview__header {
  background: #51328a;
  color: white;
  padding: 250px 0 150px 0; }
  @media screen and (max-width: 600px) {
    .p-interview__header {
      padding: 150px 0 50px 0; } }

.p-interviewee__social {
  margin-top: 30px; }
  .p-interviewee__social .p-social-item svg {
    fill: white; }
    .p-interviewee__social .p-social-item svg:hover {
      fill: #ffed00; }

.p-interviewee:after {
  content: "";
  display: table;
  clear: both; }

.p-interviewee__photo {
  border: solid 3px #ffed00;
  border-radius: 100%;
  height: 200px;
  width: 200px; }
  @media screen and (min-width: 767px) {
    .p-interviewee__photo {
      height: 250px;
      width: 250px; } }
  @media screen and (max-width: 600px) {
    .p-interviewee__photo {
      float: none;
      margin-bottom: 20px;
      margin-left: 0; } }

.p-interviewee__about p {
  color: white; }
  .p-interviewee__about p:not(:last-child) {
    margin-bottom: 20px; }

.p-interviewee__about a {
  color: white;
  border-color: #ffed00; }
  .p-interviewee__about a:hover {
    border-color: white; }

@media screen and (max-width: 500px) {
  .p-interview__meta span {
    display: block; }
  .p-interview__meta a {
    color: #ffed00; } }

.p-interview__body {
  margin: 0 auto;
  padding: 100px 24px; }
  @media screen and (max-width: 1023px) {
    .p-interview__body {
      padding: 60px 24px; } }

.p-interview__question {
  color: #51328a;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase; }

.p-interview__answer {
  margin-bottom: 40px; }
  .p-interview__answer p:not(:last-child) {
    margin-bottom: 10px; }

.p-interview__outro {
  border-top: solid 1px #51328a;
  padding-top: 30px; }

.p-social-list {
  list-style: none; }

.p-social-item {
  display: inline-block; }
  .p-social-item:not(:last-child) {
    margin-right: 20px; }

.p-hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 200px 0 100px 0;
  background: #ffed00;
  text-align: center;
  color: black; }
  .p-hero .b-container {
    z-index: 2; }
  @media screen and (min-height: 750px) {
    .p-hero {
      display: flex;
      align-items: center; } }
  @media screen and (max-width: 767px) {
    .p-hero {
      margin-top: 60px; } }

.p-hero__decoration:before,
.p-hero__decoration:after {
  position: absolute;
  z-index: 0;
  display: block;
  content: '';
  background: rgba(255, 255, 255, 0.2);
  height: 150px; }

.p-hero__decoration:before {
  top: calc(50% - 200px);
  left: -70px;
  width: 150px;
  border-radius: 100%; }

.p-hero__decoration:after {
  top: 50px;
  right: 0px;
  width: 150px;
  border-radius: 100% 0 0 100%; }

.p-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("/assets/img/hero--home.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.2; }

.p-hero__title {
  max-width: 950px;
  margin: 0 auto 60px auto;
  color: black;
  text-transform: uppercase;
  line-height: .8;
  font-family: "bebas-kai", sans-serif; }

.p-hero__subtitle {
  color: black; }

.p-hero__form {
  margin-top: 100px; }
  @media screen and (min-height: 950px) {
    .p-hero__form {
      margin-top: 200px; } }

.p-hero__btn {
  position: relative;
  margin-top: 60px;
  color: black;
  font-size: 19px;
  font-size: 1.1875rem; }
  .p-hero__btn:after {
    display: block;
    content: '';
    border-bottom: solid 2px #51328a;
    width: 50%;
    margin-left: 25%; }

.p-about {
  position: relative;
  background-size: 900px;
  color: white;
  overflow: hidden; }

.p-about.is-blue {
  background: #10ace1 url("/assets/img/bg.png") bottom center no-repeat; }

.p-about.is-green {
  background: #07a789 url("/assets/img/bg.png") bottom center no-repeat; }

.p-about.is-purple {
  background: #51328a url("/assets/img/bg.png") bottom center no-repeat; }

.p-about__body h2 {
  margin-bottom: 20px;
  line-height: 1; }

.p-about__body p {
  margin-bottom: 30px; }

.p-about.is-image-left .p-about__body {
  float: right; }

.p-about.is-image-right .p-about__body {
  float: left; }

.p-about__image {
  display: none; }
  @media screen and (min-width: 767px) {
    .p-about__image {
      display: block;
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.7;
      filter: saturate(0%); } }
  @media screen and (max-width: 766px) {
    .p-about__image {
      background-image: none !important; } }

.p-about.is-image-left .p-about__image {
  left: 0;
  background-position: center bottom; }

.p-about.is-image-right .p-about__image {
  right: 0;
  background-position: center bottom; }

p.p-event-archive__meta {
  margin-bottom: 20px;
  color: #ffed00; }
  p.p-event-archive__meta a {
    color: #ffed00;
    border-color: #ffed00; }
    p.p-event-archive__meta a:hover {
      border-color: white; }

.p-event-archive__btn {
  margin-bottom: 10px;
  margin-right: 5px; }

.p-event-archive__outro {
  max-width: 700px;
  margin: 0 auto 40px auto; }

.p-event-archive__intro {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto 20px auto; }

.p-event-list {
  margin: 50px 0; }

.p-event {
  margin-bottom: 24px;
  padding: 12px;
  background: white;
  border: solid 1px #10ace1; }
  .p-event:after {
    content: "";
    display: table;
    clear: both; }
  .p-event .p-event__body {
    float: left; }
    @media screen and (max-width: 767px) {
      .p-event .p-event__body {
        margin-bottom: 24px; } }
  .p-event .p-event__quote {
    float: right; }
  .p-event .p-event__body,
  .p-event .p-event__quote {
    width: 450px; }
    @media screen and (max-width: 950px) {
      .p-event .p-event__body,
      .p-event .p-event__quote {
        width: 45%; } }
    @media screen and (max-width: 767px) {
      .p-event .p-event__body,
      .p-event .p-event__quote {
        width: 100%;
        float: none; } }

.p-event__speaker-list {
  margin-left: 0; }
  .p-event__speaker-list li {
    margin-right: 3px;
    margin-bottom: 5px;
    border: solid 2px transparent; }
    .p-event__speaker-list li:hover {
      border: solid 2px #ffed00; }
  .p-event__speaker-list img {
    width: 50px;
    height: 50px;
    vertical-align: middle; }

.p-event__img {
  vertical-align: middle; }

.p-event__body {
  padding: 6px; }
  .p-event__body p {
    margin-bottom: 24px; }

.p-event__title {
  font-size: 24px; }

.p-event__meta {
  margin-bottom: 24px; }

.p-event__btns {
  margin-top: 24px;
  font-size: 14px; }
  .p-event__btns a {
    margin-right: 10px; }
  @media screen and (max-width: 400px) {
    .p-event__btns a {
      margin-bottom: 12px; } }

.p-speaker {
  padding: 200px 0px 150px 0px;
  background: #07a789 url("/assets/img/bg.png");
  color: white; }
  @media screen and (max-width: 767px) {
    .p-speaker {
      padding: 150px 0px 100px 0px; } }
  @media screen and (max-width: 500px) {
    .p-speaker {
      padding: 100px 0px 50px 0px; } }

.p-speaker__img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 30px;
  border: solid 3px #ffed00;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  @media screen and (max-width: 767px) {
    .p-speaker__img {
      width: 150px;
      height: 150px;
      margin-right: 15px; } }
  @media screen and (max-width: 600px) {
    .p-speaker__img {
      float: none;
      margin-bottom: 20px; } }

.p-speaker__name {
  margin-bottom: 10px; }

.p-speaker__title {
  max-width: 500px; }

.p-speaker__desc {
  margin-top: 30px;
  max-width: 500px; }
  .p-speaker__desc p {
    margin-bottom: .5rem;
    font-size: 16px; }
    .p-speaker__desc p a {
      color: white;
      border-color: #ffed00; }
      .p-speaker__desc p a:hover {
        border-color: #07a789;
        color: #ffed00; }

.p-speaker__social {
  margin-top: 20px; }
  .p-speaker__social .p-social-item svg {
    fill: white; }
    .p-speaker__social .p-social-item svg:hover {
      fill: #ffed00; }

.p-talk--two {
  border-top: solid 10px #10ace1; }

.p-talk__title {
  margin-bottom: 30px; }

.p-talk__embed {
  margin-bottom: 24px; }

@media screen and (min-width: 768px) {
  .p-talk__desc {
    columns: 2; }
    .p-talk__desc p {
      margin-bottom: 10px; } }

.p-talk__meta {
  margin-bottom: 20px;
  font-style: italic; }

.p-talk__tickets {
  padding: 100px 20px;
  text-align: center; }
  .p-talk__tickets p {
    margin-bottom: 20px; }

.p-talk__tickets__name {
  max-width: 767px;
  margin: 0 auto 20px auto; }

p.p-talk__tickets__date {
  color: #ffed00; }

.p-partners {
  text-align: center; }
  .p-partners ul {
    text-align: center; }
  .p-partners img {
    margin: 10px;
    vertical-align: middle; }

.p-partner--gold img {
  max-width: 100px; }
  .p-partner--gold img.logo--landscape {
    max-width: 300px; }
    @media screen and (min-width: 767px) {
      .p-partner--gold img.logo--landscape {
        max-width: 400px; } }

.p-partner--gold p {
  text-align: center;
  font-size: 12px; }

.p-partner--gold li:last-child {
  margin-bottom: 50px; }

.p-partner--silver li {
  width: 49%; }
  .p-partner--silver li a {
    padding: 1em; }
  @media screen and (min-width: 767px) {
    .p-partner--silver li {
      width: 23%; } }
  .p-partner--silver li:last-child {
    margin-bottom: 20px; }

.p-partner--silver img {
  vertical-align: middle; }
  .p-partner--silver img.logo--landscape {
    max-width: 220px; }
    @media screen and (min-width: 767px) {
      .p-partner--silver img.logo--landscape {
        max-width: 300px; } }
  .p-partner--silver img.logo--portrait {
    height: 90px;
    width: auto; }
    @media screen and (min-width: 767px) {
      .p-partner--silver img.logo--portrait {
        height: 150px;
        width: auto; } }
  .p-partner--silver img.logo--square {
    height: 70px;
    width: auto; }
    @media screen and (min-width: 767px) {
      .p-partner--silver img.logo--square {
        height: 110px;
        width: auto; } }

.p-partner--bronze li {
  width: 32%; }
  .p-partner--bronze li a {
    padding: 1em; }
  @media screen and (min-width: 767px) {
    .p-partner--bronze li {
      width: 18%; } }

.p-partner--bronze img {
  vertical-align: middle; }
  .p-partner--bronze img.logo--portrait {
    height: 60px;
    width: auto; }
    @media screen and (min-width: 767px) {
      .p-partner--bronze img.logo--portrait {
        height: 110px;
        width: auto; } }
  .p-partner--bronze img.logo--circle {
    width: 50px;
    height: 50px;
    border-radius: 100%; }
    @media screen and (min-width: 767px) {
      .p-partner--bronze img.logo--circle {
        width: 75px;
        height: 75px; } }

.p-partner--micro li img.logo--circle {
  width: 60px;
  height: 60px;
  border-radius: 100%; }
  @media screen and (min-width: 767px) {
    .p-partner--micro li img.logo--circle {
      width: 80px;
      height: 80px; } }

.p-partner--micro li img.logo--landscape {
  width: 70px;
  height: auto;
  border-radius: 0; }
  @media screen and (min-width: 767px) {
    .p-partner--micro li img.logo--landscape {
      width: 80px; } }

.p-partners-credits {
  margin-top: 50px; }

.p-partners-credits__list {
  margin-top: 40px; }

.p-partners-credits__logo {
  display: block;
  width: 210px;
  height: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: -999em; }

.p-partners-credits__logo--isotoma {
  background-image: url("/assets/img/logo--isotoma.png"); }

.p-partners-credits__logo--bytemark {
  background-image: url("/assets/img/logo--bytemark.png"); }

.p-article__header {
  padding: 200px 20px 150px 20px;
  background: #51328a url("/assets/img/bg.png") no-repeat;
  text-align: center;
  color: white; }
  .p-article__header h1 {
    margin-bottom: 20px; }
  .p-article__header a {
    color: white !important; }
  .p-article__header p {
    color: white; }
  @media screen and (max-width: 767px) {
    .p-article__header {
      padding: 150px 20px 100px 20px; } }
  @media screen and (max-width: 500px) {
    .p-article__header {
      padding: 100px 20px 50px 20px; } }

.p-article__meta {
  font-size: 16px; }
  .p-article__meta a {
    border-bottom: solid 2px #51328a; }
    .p-article__meta a:hover {
      color: white;
      border-bottom: solid 2px #ffed00; }

.p-article__main {
  padding: 100px 24px; }
  @media screen and (max-width: 1023px) {
    .p-article__main {
      padding: 60px 24px; } }

.p-article-related {
  margin: 50px auto 100px auto; }

.p-session-list {
  margin: 100px 0 0 0; }

.p-session-list--three li {
  display: inline;
  float: left;
  width: 32.53012%;
  margin-left: 1.20482%;
  padding-right: 24px; }
  .p-session-list--three li:first-child {
    margin-left: 0; }
  .p-session-list--three li:nth-child(3n+4) {
    clear: left;
    margin-left: 0; }
  @media screen and (max-width: 600px) {
    .p-session-list--three li {
      width: 100%;
      margin-left: 0;
      clear: left;
      margin-bottom: 30px; } }

.p-session-list--four li {
  display: inline;
  float: left;
  width: 24.09639%;
  margin-left: 1.20482%;
  padding-right: 24px; }
  .p-session-list--four li:first-child {
    margin-left: 0; }
  .p-session-list--four li:nth-child(4n+5) {
    clear: left;
    margin-left: 0; }
  @media screen and (max-width: 800px) {
    .p-session-list--four li {
      display: inline;
      float: left;
      width: 49.39759%;
      margin-left: 1.20482%; }
      .p-session-list--four li:first-child {
        margin-left: 0; }
      .p-session-list--four li:nth-child(odd) {
        clear: left;
        margin-left: 0; } }
  @media screen and (max-width: 500px) {
    .p-session-list--four li {
      width: 100%;
      margin-left: 0;
      clear: left;
      margin-bottom: 30px;
      padding-right: 0; } }

.p-session-in-list__img {
  margin-bottom: 20px;
  border: solid 3px transparent; }

.p-session-in-list a:hover .p-session-in-list__img {
  border-color: #ffed00; }

.p-session-in-list__title {
  margin-bottom: 20px;
  color: #51328a;
  border-bottom: solid 2px transparent;
  display: inline-block; }

.p-session-in-list a:hover .p-session-in-list__title {
  border-bottom: solid 2px #ffed00; }

.p-schedule {
  padding: 30px; }

.p-schedule__list {
  list-style: none; }

.p-schedule__item {
  padding: 30px 0;
  border-bottom: solid 1px #E6E8ED; }
  .p-schedule__item p {
    font-size: 14px;
    margin-top: 10px; }
    .p-schedule__item p:last-child {
      margin-bottom: 0; }

.p-schedule__title {
  color: #51328a; }

.p-schedule__time {
  display: inline-block;
  width: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  vertical-align: middle; }
  @media screen and (max-width: 600px) {
    .p-schedule__time {
      display: block; } }

.p-schedule__location {
  background: #10ace1 url("/assets/img/bg.png") top center no-repeat;
  background-size: 900px; }
  .p-schedule__location address {
    color: white; }

.p-schedule__location__info {
  padding: 50px; }

.p-schedule__evening {
  padding: 50px;
  background: #07a789 url("/assets/img/bg.png") center center no-repeat;
  background-size: 900px;
  color: white; }
  .p-schedule__evening p {
    margin-bottom: 10px; }
    .p-schedule__evening p:last-child {
      margin-bottom: 0; }

.p-schedule__tickets {
  padding: 100px 20px;
  text-align: center; }
  .p-schedule__tickets p {
    margin-bottom: 20px; }
  .p-schedule__tickets .t-l {
    color: #ffed00; }

.p-home__tickets {
  background: #10ace1 url("/assets/img/bg.png") right bottom no-repeat;
  background-size: cover; }
  .p-home__tickets p {
    margin-bottom: 30px;
    color: white; }
    .p-home__tickets p strong {
      color: #ffed00; }

.p-home__blog {
  padding: 100px 0; }
  @media screen and (max-width: 767px) {
    .p-home__blog {
      padding: 60px 0; } }
