//  Banner
//  ======

//  Contains Page Title
//  Will always have a background colour



//------------------------------------//
//  Container
//------------------------------------//

.p-banner {
  align-items: center;
  display: flex;
  padding: 220px 0 120px 0;

  &, a {
    color: white;
  }
  
  &.is-blue   { background: $color-blue;}
  &.is-purple { background: $color-purple;}
  &.is-green  { background: $color-green;}
  &.is-yellow { 
    background: $color-yellow;

    &, a { color: black; }
  }
}
  
  .p-banner--full {

    @include mq(480px) {
      height: 100vh;
      padding: 60px 0 0 0;
    }
  }





//------------------------------------//
//  Title
//------------------------------------//

.p-banner__title {
  font-family: $alt-font-family;
  font-weight: $font-weight-bold;
  margin: 0 auto;
  text-transform: uppercase;
}





//------------------------------------//
//  Subtitle
//------------------------------------//

.p-banner__subtitle {
  @include font-size(14);

  color: $color-yellow;
  font-weight: $font-weight-bold;
  margin-top: .75rem;

  .is-yellow & { color: black}
  .is-purple & { color: $color-yellow}

  @include mq(480px) {
    margin-top: 1rem;
  }

  @include mq(768px) {
    @include font-size(20);
  }
}