//	Header
//  ======





//------------------------------------//
//  Header
//------------------------------------//

.p-header {
	left: 0;
	height: 100px;
	padding: 30px 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;

	&, a {
		color: white;
	}

	&.is-yellow {
		&, a { color: black;}
	}

	&.is-purple {
		background: $color-purple;
	}
}





//------------------------------------//
//  Logo
//------------------------------------//

.p-logo {
	display: block;

	float: left;

	width: 205px;
	height: 40px;

	margin: 0 auto;

	text-indent: -999em;

	background: url('/assets/img/logo.svg?v=2') no-repeat;
	background-size: 100%;

	@include transition(opacity 0.2s ease-in-out);

	opacity: 1;

	@include mq($bp-tablet, max) {
		width: 158px;
		height: 30px;
	}

	@include mq($bp-mobile, max) {
		width: 27px;
		height: 30px;
		background: url('/assets/img/mark.svg?v=2') no-repeat;
		background-size: 100%;
	}

	.is-landing & {
		float: none;
		margin: 0 auto;
	}
}


	//
	//	Variant
	//

	.p-header.is-yellow .p-logo {
		background-image: url('/assets/img/logo--black.svg');

		@include mq($bp-mobile, max) {
			background-image: url('/assets/img/mark--black.svg');
		}
	}
	