//	Hero
//  ====

//	depending on time of year this will either have a button or a form

//	Container
//		Decoration
//	Title
//	Subtitle
//	Form
//	Button





//------------------------------------//
//  Container
//------------------------------------//

.p-hero {
	position: relative;
	overflow: hidden;

	min-height: calc(100vh - 117px);

	margin-top: 117px;
	padding: 100px 0;

	background: $color-yellow;

	text-align: center;
	color: black;

	@media screen and (min-height: 750px) {
		display: flex;
		align-items: center;
	}

	@include mq($bp-tablet, max) {
		margin-top: 60px;
	}
}


	//
	//	Decoration
	//

	.p-hero__decoration:before,
	.p-hero__decoration:after {
		position: absolute;
		z-index: 0;

		display: block;
		content: '';

		background: rgba(white, 0.4);

		height: 150px;
	}

	.p-hero__decoration:before {
		top: calc(50% - 200px);
		left: -70px;

		width: 150px;

		border-radius: 100%;
	}

	.p-hero__decoration:after {

		top: 50px;
		right: 0px;

		width: 150px;

		border-radius:  100% 0 0 100% ;

	}







//------------------------------------//
//  Title
//------------------------------------//

.p-hero__title {
	margin-bottom: 50px;

	@include mq($bp-tablet, max) {
		margin-bottom: 30px;
	}
}





//------------------------------------//
//  Subtitle
//------------------------------------//

.p-hero__subtitle {

}





//------------------------------------//
//  Form
//------------------------------------//

.p-hero__form {
	margin-top: 100px;

	@media screen and (min-height: 950px) {
		margin-top: 200px;
	}
}





//------------------------------------//
//  Button
//------------------------------------//

.p-hero__btn {

}