//	Hero
//  ====

//	depending on time of year this will either have a button or a form

//	Container
//		Decoration
//	Title
//	Subtitle
//	Form
//	Button





//------------------------------------//
//  Container
//------------------------------------//

.p-hero {
	position: relative;
	overflow: hidden;

	min-height: 100vh;

	.b-container {
		z-index: 2;
	}

	padding: 200px 0 100px 0;

	background: $color-yellow;

	text-align: center;
	color: black;

	@media screen and (min-height: 750px) {
		display: flex;
		align-items: center;
	}

	@include mq($bp-tablet, max) {
		margin-top: 60px;
	}
}


	//
	//	Decoration
	//

	.p-hero__decoration:before,
	.p-hero__decoration:after {
		position: absolute;
		z-index: 0;

		display: block;
		content: '';

		background: rgba(white, 0.2);

		height: 150px;
	}

	.p-hero__decoration:before {
		top: calc(50% - 200px);
		left: -70px;

		width: 150px;

		border-radius: 100%;
	}

	.p-hero__decoration:after {

		top: 50px;
		right: 0px;

		width: 150px;

		border-radius:  100% 0 0 100% ;

	}


.p-hero__img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	
	background: url('/assets/img/hero--home.jpg') center center no-repeat;
	background-size: cover;

	opacity: 0.2;
}






//------------------------------------//
//  Title
//------------------------------------//

.p-hero__title {
	max-width: 950px;
	margin: 0 auto 60px auto;
	color: black;
	text-transform: uppercase;
	line-height: .8;
	font-weight: $font-weight-bold;
}





//------------------------------------//
//  Subtitle
//------------------------------------//

.p-hero__subtitle {
	color: black;
}





//------------------------------------//
//  Form
//------------------------------------//

.p-hero__form {
	margin-top: 100px;

	@media screen and (min-height: 950px) {
		margin-top: 200px;
	}
}





//------------------------------------//
//  Button
//------------------------------------//

.p-hero__btn {
	position: relative;
	margin-top: 60px;
	color: black;
	@include font-size(19);
	&:after {
		display: block;
		content: '';
		border-bottom: solid 2px $color-purple;
		width: 50%;
		margin-left: 25%;
	}
}