.p-home__holding {
	display: table;

	width: 100%;
	height: 450px;

	padding: 50px 0;

	background: url('/assets/img/holding.jpg');
	background-size: cover;
	background-position: center;

	color: white;


	@include mq(500px, max) {
		height: 300px;
	}
}

.p-home__holding-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.p-home__holding__title {
	margin-bottom: .5em;
	@include font-size(50);

	@include mq(500px, max) {
		@include font-size(36);
	}
}

.p-home__holding__date {
	margin-bottom: .3em;
	@include font-size(24);
	font-weight: $font-weight-bold;

	@include mq(500px, max) {
		@include font-size(18);
	}
}

.p-home__holding__venue {
	margin-bottom: 40px;
	@include font-size(18);

	@include mq(500px, max) {
		@include font-size(16);
	}
}