.p-partners {
	text-align: center;

	ul {
		text-align: center;
	}

	img {
		margin: 10px;
		vertical-align: middle;
	}
}

.p-partner--gold {

	img {
		max-width: 100px;

		&.logo--landscape {
			max-width: 300px;

			@include mq($bp-tablet) {
				max-width: 400px;
			}
		}	
	}

	p {
		text-align: center;
		font-size: 12px;
	}
	
	li:last-child {
		margin-bottom: 50px;
	}
}


.p-partner--silver {

	li {
		width: 49%;

		a {
			padding: 1em;
		}

		@include mq(767px) {
			width: 23%;
		}

		&:last-child {
			margin-bottom: 20px;
		}
	}

	img {
		vertical-align: middle;

		&.logo--landscape {
			max-width: 220px;

			@include mq($bp-tablet) {
				max-width: 300px;
			}	
		}

		&.logo--portrait {
			height: 90px;
			width: auto;

			@include mq($bp-tablet) {
				height: 150px;
				width: auto;
			}
		}

		&.logo--square {
			height: 70px;
			width: auto;

			@include mq($bp-tablet) {
				height: 110px;
				width: auto;
			}
		}
	}
}

.p-partner--bronze {
	li {
		width: 32%;

		a {
			padding: 1em;
		}

		@include mq(767px) {
			width: 18%;
		}
	}

	img {
		vertical-align: middle;

		&.logo--landscape {
			// max-width: 120px;

			// @include mq($bp-tablet) {
			// 	max-width: 120px;
			// }	
		}

		&.logo--portrait {
			height: 60px;
			width: auto;

			@include mq($bp-tablet) {
				height: 110px;
				width: auto;
			}
		}

		&.logo--circle {
			width: 50px;
			height: 50px;
			border-radius: 100%;

			@include mq($bp-tablet) {
				width: 75px;
				height: 75px;
			}	
		}
	}
}

.p-partner--micro {
	li {

		img {
			&.logo--circle {
				width: 60px;
				height: 60px;
				border-radius: 100%;

				@include mq($bp-tablet) {
					width: 80px;
					height: 80px;
				}	
			}

			&.logo--landscape {
				width: 70px;
				height: auto;
				border-radius: 0;

				@include mq($bp-tablet) {
					width: 80px;
				}
			}
		}
	}
}




//------------------------------------//
//  Credits
//------------------------------------//

.p-partners-credits {
	margin-top: 50px;
}


	//
	//	List
	//
	
	.p-partners-credits__list {
		margin-top: 40px;
	}



	//
	//	Logo
	//

	.p-partners-credits__logo {
		display: block;

		width: 210px;
		height: 60px;

		background-size: 100%;
		background-repeat: no-repeat;

		text-indent: -999em;

	}


		//	Isotoma

		.p-partners-credits__logo--isotoma {
			background-image: url('/assets/img/logo--isotoma.png');
		}


		//	Bytemark

		.p-partners-credits__logo--bytemark {
			background-image: url('/assets/img/logo--bytemark.png');
		}