.p-section {
	padding: 150px 0;

	@include mq($bp-tablet, max) {
		padding: 60px 0;
	}
	

	&.is-blue {
		background: $color-blue;
		color: white;
		background-size: 900px;
	}

	&.is-purple {
		background: $color-purple;
		color: white;
		background-size: 900px;
		
	}

	&.is-green {
		background: $color-green;
		color: white;
		background-size: 900px;
	}

	&.is-top-section {
		margin-top: 50px;
	}

}

.p-section__title {
	@include font-size-l(500);

	letter-spacing: 3px;
	margin-bottom: 20px;



	// Extra Margin

	&.has-top-margin { margin-top: 50px; }
	&.has-bottom-margin { margin-bottom: 50px; }



	//	Colours

	&.is-yellow { color: $color-yellow;}
	&.is-white { color: white; }
	&.is-purple { color: $color-purple; }

	&.is-center {
		text-align: center;

		&:after {
			display: block;
			content: " ";

			border-radius: 100%;
			width: 5px;
			height: 5px;
			background: $color-yellow;

			margin: 20px auto 30px auto;
		}
	}

	a {
		color: inherit;

		&:hover {
			border-bottom: solid 2px $color-yellow;
		}
	}
}