.p-speaker {
	padding: 200px 0px 150px 0px;

	background: $color-green url('/assets/img/bg.png');
	color: white;

	@include mq(767px, max) {
		padding: 150px 0px 100px 0px;
	}

	@include mq(500px, max) {
		padding: 100px 0px 50px 0px;
	}
}

.p-speaker__img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-right: 30px;

	border: solid 3px $color-yellow;

	@include transition(all 0.1s ease-in-out);


	@include mq(767px, max) {
		width: 150px;
		height: 150px;
		margin-right: 15px;
	}

	@include mq(600px, max) {
		float: none;
		margin-bottom: 20px;
	}
}

.p-speaker__name {
	@include font-size-l(500);
	margin-bottom: 10px;
}

.p-speaker__title {
	@include font-size-m(500);
	max-width: 500px;
}

.p-speaker__desc {
	margin-top: 30px;
	max-width: 500px;

	p {
		@include font-size-s();
		margin-bottom: 1rem;

		a {
			color: white;

			border-color: $color-yellow;

			&:hover {
				border-color: $color-green;
				color: $color-yellow;
			}
		}
	}
}

.p-speaker__social {
	margin-top: 20px;

	.p-social-item svg {
    fill: white;
  
    &:hover {
      fill: $color-yellow;
    }
  }
}




// Card
// - in blog posts and other pages

.p-speaker-card {
	@include clearfix();

	background: $color-green;
	border: solid 5px $color-green;
	border-radius: 10px;
	color: white;
	display: block;
	margin-bottom: 2rem;
	padding: 30px 20px;
	transition: all 0.1s ease-in-out;

	&:hover {
		background: none;
		
		.p-speaker__img { border-color: $color-green; }
		.p-speaker__name { color: $color-green; }
		.p-speaker__title { color: $color-dark; }
		.p-page__read-more { background-position: 0 -45px;}
	}
}