<section id="top" class="p-hero">
	<div class="b-container">

		<h1 class="t-xxl t-weight-bold p-hero__title">
			<perch:content id="heading" type="textarea" label="Heading" html="true" />
		</h1>

		<p class="t-l p-hero__subtitle"><perch:content id="subheading" label="Subheading" size="l" /></p>

		<a href="<perch:content id="btn_url" label="Button Url" />" class="b-btn p-hero__btn" ><perch:content id="btn_text" type="text" label="Button Text" /></a>
	</div>

	<span class="p-hero__decoration"></span>
	<div class="p-hero__img"></div>
</section>