<section class="p-home__holding">
	<div class="p-home__holding-inner">
		<h1 class="p-home__holding__title"><perch:content id="title" label="Title" /></h1>
		<p class="p-home__holding__date"><perch:content id="date" format="l jS F Y" label="Date" type="date" /></p>
		<p class="p-home__holding__venue"><perch:content id="venue" label="Venue" /></p>
		<a href="<perch:content id="btn_url" label="URL" divider-before="Button" />" class="b-btn b-btn--theme"><perch:content id="btn_text" label="Text" /></a>	
	</div>
</section>


